@{
    // ReSharper disable once Razor.LayoutNotResolved
    Layout = "EmailTemplates._Layout.cshtml";
}

<style>
    .card {
        margin-top: 24px;
    }
</style>

<h3>Hey @Model?.Name,</h3>
<p>Email change TODO</p>