@{
    // ReSharper disable once Razor.LayoutNotResolved
    Layout = "EmailTemplates._Layout.cshtml";
}

<style>
    .button {
        margin-top: 24px;
    }
</style>

<h3>Hey @Model?.Name,</h3>
<p>Your Cord.DJ password can be reset by clicking the button down bellow. In case you didn’t request a password change, please ignore this e-mail.</p>

<div class="button">
    <a href="https://cord.dj/reset#token=@Model?.Token" target="_blank">Reset Password</a>
</div>